{{#partial "content"}}

    <form action="/animals/new" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name of the animal</label>
            <input type="name" name="name" class="form-control" id="name">
        </div>

        <div class="alert alert-danger" role="alert">
            More details if this is an endangered animal
        </div>
        <div class="mb-3 form-check det">
            <input type="checkbox" name="endangered" class="form-check-input" id="endangered">
            <label class="form-check-label" for="endangered">Click if this is an endangered animal</label>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Health</label>
                <select class="form-control" name="health">
                    <option value="1">Ill</option>
                    <option value="5">Okay</option>
                    <option value="8">Healthy</option>
                </select>
            </div>
            <div class="col">
                <label>Age</label>
                <select class="form-control" name="age">
                    <option value="0">Newborn</option>
                    <option value="5">Young</option>
                    <option value="10">Adult</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-warning det">Submit Animal</button>
    </form>

{{/partial}}

{{> layout.hbs}}