{{#partial "content"}}

    <form action="/sighting" method="post">

        <div class="alert alert-danger" role="alert">
            Fill this if the animal you have sighted is an endangered animal.
        </div>

        <label>Select Animal</label>
        <select class="form-control" name="animalSelected">
            {{#each animals }}
                <option>{{name}}</option>
            {{/each}}
        </select>

        <div class="mb-3">
            <label for="name" class="form-label">Location</label>
            <input type="text" name="latLong" class="form-control" id="name">
        </div>

        <div class="mb-3">
            <label for="rangerName" class="form-label">Ranger Name</label>
            <input type="text" name="rangerName" class="form-control" id="rangerName">
        </div>
        <button type="submit" class="btn btn-warning det">Submit Sighting</button>
    </form>

{{/partial}}

{{> layout.hbs}}