{{#partial "content"}}
    <div class="container">
        <h1>{{endangeredAnimal.name}}</h1>
        <div>
            <a class="btn btn-outline-warning" href="/animals/new">Update Animal Name</a>
        </div>
        <div>
            <a class="btn btn-outline-warning" href="/animals/new">Delete Animal</a>
        </div>
    </div>

    <div>
        <a class="btn btn-outline-warning" href="/sightings/new_ends">Report an endangered Animal Sighting</a>
    </div>
{{/partial}}

{{> layout.hbs}}