{{#partial "content"}}


    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Spotted an animal?</h2>
            <p class="lead">
                We allow our rangers to let us know if they spot an animal
                within our conservative areas. There are further guidance to include, if this was an endangered animal.
            </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src='/images/One.jpg'   preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/></img>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Notice any unhealthy or ill animal? </h2>
            <p class="lead">
                While submitting animal details, you can indicate the condition of the animal. Let us know weather it was ill
                , unhealthy or fairly okay.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src='/images/two.jpg' role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/></img>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Make a difference. </h2>
            <p class="lead">
                Take the lead. Join the move of making sure our animals are protected and well cared for.
            </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src='/images/three.jpg' role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/></img>

        </div>
    </div>

    <hr class="featurette-divider">


{{/partial}}


{{> layout.hbs}}