{{#partial "content"}}
    <div class="container">
        Sighting ID : <h1>{{sighting.id}}</h1>
        Animal :<h1>{{sighting.animal_id}}</h1>
        Ranger Name :<h1>{{sighting.ranger_Name}}</h1>
        Sighted Location :<h1>{{sighting.location}}</h1>
        <div>
            <a class="btn btn-outline-warning" href="/animals/new">Update Animal Name</a>
        </div>
        <div>
            <a class="btn btn-outline-warning" href="/animals/new">Delete Animal</a>
        </div>
    </div>

    <div>
        <a class="btn btn-outline-warning" href="/animals/new">Report Animal Sighting</a>
    </div>
{{/partial}}

{{> layout.hbs}}